__pycache__
build
bin
tmp
doxysite
storm
*.o
*.out
*.csv
*.class
notes.md
modelFiles.sh

# Compiled UI Files
src/stamina/gui/ui/ui_About.h
src/stamina/gui/ui/ui_MainWindow.h
src/stamina/gui/ui/ui_Preferences.h
src/stamina/gui/ui/ui_PropertyWizard.h
src/stamina/gui/ui/ui_FindReplace.h

# Build Autogen and moc
CMakeCache.txt
CMakefiles
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
ecm_uninstall.cmake
*_autogen
prefix.sh

